$primary-color: #063072;
$primary-color-hover:#002960;

$secondary-color: #9ebf43;
$white-color: #fff;

$blueBgcolor: #202d3c;

$font-color: #949598;
$light-gray: #f8f8f8;

$hover: #292e26;

$hover-blue: #292e26;
$hover-transparent : #003072aa;
$text-color: #2e292a;

$light: #fff;
$light-transparent: #ffffff7c;
$dark: #000;
$middle-gray: #b0b0b0;
$dark-gray: #474955;
$dark-dark-gray: #202024;

/* Mixins Dégradés */

@mixin liGray-to-white {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

@mixin liGray-to-white-horizon {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(247, 248, 249, 1) 50%
  );
  background: -webkit-linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(247, 248, 249, 1) 50%
  );
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(247, 248, 249, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

@mixin liGray-to-white-horizon-reverse {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(247, 248, 249, 1) 50%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(247, 248, 249, 1) 50%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(247, 248, 249, 1) 50%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

.bgSec {
  background-color: $secondary-color !important;
  border: 1px solid $secondary-color;
}

.txtBlue {
  color: $secondary-color !important;
}
