header{
  .header{
    background: none;
    position: absolute;
    top: 70px;
    left: 7.5vw;
    width: 85vw;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .col-g {
      width: 20%;

      .logo {
        max-width: 350px;
      }
    }

    .col-d {
      width: 80%;

      #open_menu{
        display: none;
      }

      .primary-navigation {
        margin-top: 20px;
  
        ul{
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 50px;
  
          li {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 0.9rem;
            padding-top: 10px;
            position: relative;

            &.cta{

              background-color: $secondary-color;
            }
  
            a {
              color: $light;
              font-weight: 400;
              font-size: 0.9rem;
              transition: all ease-out 300ms;
  
              &:hover {
                color: $primary-color;
              }
            }
          }
  
          .cta {
            border-radius: 0;
  
            &::after {
              content: ">";
              margin-left: 10px;
              height: 30px;
              color: $light;
            }
  
            &::before {
              border-radius: 0 !important;
            }
          }
  
          .menu-item-has-children {
            .sub-menu {
              display: none;
            }
  
            &:hover {
              min-height: 400px;
  
              .sub-menu {
                display: block;
                position: absolute;
                background: none;
                top: 45px;
                min-width: 300px;
  
                li {
                  color: $primary-color;
                  list-style: none;
                  display: block;
                  position: relative;
                  max-height: 50px;
                  padding: 0;
                  margin: 0;
  
                  a {
                    color: $light;
                    text-transform: none;
                    letter-spacing: 0;
                    width: 90%;
                    display: block;
                    padding: 2% 5%;
                    margin: 0;
                  }
  
                  &:hover {
                    border-color: $primary-color;
                    min-height: auto;
                    border-bottom: 1px solid $secondary-color;
  
                    a {
                      color: $secondary-color;
                      font-weight: 800;
                    }
  
                    .sub-menu {
                      display: block;
                    }
                  }
  
                  .sub-menu {
                    display: none;
                    position: absolute;
                    right: -300px;
                    top: 0;
  
                    li {
                      a {
                        color: $secondary-color;
                        text-transform: none;
                        font-size: 0.8rem;
                        font-weight: 300;
  
                        &:hover {
                          color: $light;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



#megamenu {
  display: none;
  opacity: 0;
}