#megamenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $light;
    opacity: 0;
    z-index: 9;
    top:-100vh;
    transform: translateY(-100vh);
    transition: transform ease-in 300ms;
    overflow-x: hidden;

    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        padding: 0;

        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;

            li{
                list-style: none;
                text-transform: uppercase;
                font-weight: 400;
                overflow: hidden;
                margin-bottom: 0;
                text-align: center;

                a{
                    color:$primary-color;
                    text-decoration: none;
                    font-family: 'Montserrat-v';
                    line-height: 1.5em;
                    font-weight: 400;
                    transition: all ease-in 300ms;

                    &:hover{
                        color:$secondary-color;
                        font-weight: 600;
                    }
                }

                &.cta{
                    a{
                        color: $light;
                        width: 100% ;
                    }
                }
            }

            .sub-menu{
                transform-origin: left;
                align-items: center;
                font-size: .9rem;
                transition: height ease-in 300ms;
                transition: transform ease-in 500ms;

                li{
                    a{
                        font-size: .85rem;
                        line-height: 1.2rem;
                    }
                }
            }
        }   
    }

    &.is_open{
        transform:translateY(0);
        opacity: 1;
        top:0;
    }

    &.is_fixed{
        position:fixed!important;
    }
}