@media screen and (max-width:768px) {
    .nomobile {
        display: none;
    }
      
    .nodesktop {
        display: block;
    }

    body{
        h1,
        h2,
        h3{
            font-size: 1.8rem!important;
            line-height: 2.5rem;
        }

        section{
            padding: 5vh 0 5vh 0;
        }

        p{
            font-size: 1rem!important;
            line-height: 2rem!important;
        }

        .container{
            width: 80vw!important;
        }

        .megamenu{
            .container{
                flex-direction: column;
                align-items: flex-start;
                padding-top: 25vh;
                height: 75vh;

                .col-g{
                    width: 100%;

                    #menu-principal{

                        li{
                            font-size: 2.5rem;
                        }
                    }

                }

                .col-d{
                    position: relative;
                    bottom: 3vh;

                    a + a{
                        margin-left: 10px;
                    }
                }
            }
        }

        header{
            .header{
                .col-g{
                    width: 60%;

                    .logo{
                        max-width: 150px!important;
                    }
                }

                .col-d{
                    .primary-navigation{
                        display: none;
                    }

                    #open_menu{
                        display: block;
                        height: 40px;
                        width: 40px;
                        margin: 0 0 0 auto;

                        svg{
                            stroke: $primary-color;
                            transition: stroke ease-in 300ms;
                        }

                        .labelToggle,
                        .active{
                            display: none!important;
                        }

                        &.active{
                            svg{
                                stroke: $primary-color;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }

        footer{
            .container{
                .footer-top{
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .logo-footer{
                        width: 100%;
                        text-align: center;

                        a{
                            .block-img{
                                margin: auto;
                            }
                        }
                    }

                    .menu_footer{
                        width: 100%;
                        padding: 0;
                        border-right: none;
                        margin: 50px auto;
                    }

                    .col-contact{
                        width: 100%;
                        padding: 0;
                    }
                }

                .footer-bottom{
                    width: 100%;
                }
            }

            .disclaimer{
                .container{
                    p{
                        font-size: .6em!important;
                        line-height: 1rem !important;
                    }
                }
            }
        }

        /********** END BASIC ************/

        #hero-section{
            .divider{
                top: calc(100vh - 170px);
            }

            .swiper-slide{
                padding : 35vh 0vh 15vh 5vw;
                height: 50vh;

                h1{
                    font-size: 2.8em!important;
                    width: 95%;
                }

                p{
                    width: 100%;
                }
            }

            .swiper-pagination{
                width: auto;
                .swiper-pagination-bullet{
                    width: 5px;
                    padding:0;
                }

                .swiper-pagination-bullet-active{
                    width: 10px;
                }
            }
        }

        #about-us{
            padding-top: 5vh;

            .divider-top{
                top:-10vh;
            }

            .container{
                display: flex;
                flex-direction: column;
        
                .col-g{
                    width: 95%;
                    padding-left: 5%;
                }

                .col-d{
                    width: 80%;
                    padding-top: 5vh;
                    padding-left: 20%;
                }
            }
            
        }

        #partenaires{
            .from-bottom{
                opacity: 1;
            }

            .container{
                padding: 0;
            }
        }

        #references{
            table{
                width: 100%;
                tr{

                    .content_slide{
                        padding-bottom: 20px;

                        .thumbnail{
                            width: 100%;
                        }

                        .descr_ref{
                            padding: 20px 10px;
                            box-shadow: 0px 4px 10px 0px rgba(0,0,0,.2);
                        }
                    }

                }
            }
            
        }

        #services{
            #col_services{
                width: 100%!important;
                padding: 0;
            }
        }

        #section-about-us{
            padding-bottom: 0;

            .container{
                flex-direction: column;

                .col-g,
                .col-d{
                    width: 100%;
                    margin-bottom: 0;

                    h2{
                        line-height: 2.5rem;
                    }
                }
            }
        }

        #column-section-2,
        #column-section-2.reverse{
            background: $light;

            .container{
                flex-direction: column;

                .col-g,
                .col-d{
                    width: 100%;
                    padding-left: 0;

                    .block-img{
                        margin-top: 0;
                        height: 400px;
                    }
                }
            }
        }

        #section-reference{
            .container{
                flex-direction: column;
                gap: 10px;

                .colg,
                .cold{
                    width: 100%;
                    margin-left: 0;
                    margin-top: 0;

                    p{
                        max-width: 100%;
                    }
                }

                .cold{
                    .block-img{
                        margin-top: 0;
                    }
                }
            }
        }

        #hero-section{
            height: auto;

            .swiper{
                .swiper-slide{
                    padding-top: 15vh;
                    height: 40vh;
                    padding-left: 0;

                    .content{
                        h1{
                            font-size: 1.8rem!important;
                            line-height: 2.5rem;
                        }

                        p{
                            width: 100%;
                        }
                    }
                }
            }

            .menu-front-page{
                margin-top: -91px;

                .columns{
                    flex-direction: column;
                    gap: 0;

                    .cta-hover{
                        width: calc(100% - 60px);
                        border-bottom: 2px solid $secondary-color;
                        margin-bottom: 0;
                    }
                }
            }
        }

        // References

        &.page-template-references{
            #page-reference{
                padding-top: 200px;

                .section-galerie{
                    margin-bottom: 0 !important;

                    .section_titre{
                        padding-left: 0;
                        margin-bottom: 50px;

                        h1{
                            margin-bottom: 80px;
                            line-height: 2.5rem;
                        }
                    }

                    .section_filter{
                        margin: 30px auto;
                        gap: 30px;
                        width: 90vw;
                        flex-wrap: wrap;
                    }
            
                    .grid-chantier{
                        grid-template-columns: repeat(2, 1fr);
                        left: 0;
                        width: 100vw;

                        a{
                            .thumbnail{
                                min-height: 150px;
                            }
                        }
                    }

                }

                #section-presa{
                    .col_intro{
                        margin: 50px auto;
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }   

        //Contact-us

        #contact-us{
            .container{
                p{
                    max-width: 100%;
                }

                input{
                    width: 90%;
                    padding: 20px 5%;
                }
            }
        }

        //Page contact{

        &.page-template-contact{
            #content-page-contact{
                padding-bottom: 0;  

                .container{
                    width: 80vw!important;

                    .title_content{
                        h1{
                            font-size: 1.8rem;
                            line-height: 2.5rem;
                        }
                    }

                    .col_intro{
                        width: 100%;
                        margin-top: 50px;
                
                        input,
                        select{
                            width: 100%;
                        }

                        input[type=submit]{
                            padding: 10px 20px;
                        }

                        textarea{
                            padding: 20px 5%;
                            min-width: 90%;
                            width: 90%;
                            max-width: 90%;
                        }

                        form{
                            padding-top: 30px;
                        }
                    }
                }
            }
        }

        //Popup

        #popup_reference{
            align-items: inherit;
            justify-content: inherit;

            .container_popup{
                height: 90vh;
                position: relative;
                top: 5vh;
                left: 5vw;

                .popup-content{
                    flex-direction: column-reverse;

                    .close{
                        right: 0;
                        top: 0;
                    }
        
                    .col_details{
                        width: 96%;
                        height: auto;
                        padding: 5% 2%; 
                    }
        
                    .col-slider{
                        width: 100%;
                        max-height: 50vh;

                        .full-size{
                            height: 60vh;
                        }
                    }
                }

            }
            
        }
    }

    .page-template-aboutus{
        #about-lef{
            padding-top: 200px;

            .container{
                .title_content{
                    h1,
                    h2{
                        font-size: 1.5em!important;
                    }
                }
        
                .col_intro{
                    width: 100%!important;
                    padding: 0;
                }

            }
        }
        
        .title_content{
            &::before{
                content: none;
            }

            h3{
                font-size: .8rem !important;
                letter-spacing: 5px;
                margin-bottom: 10px;
            }
        }

        #services{
            .container{
                .swiper-aboutus{
                    .swiper-wrapper{
                        height: auto;
                    }
                }
            }

            #col_services{
                button{
                    font-size: .9rem;
                }
            }
        }

        #partenaires{
            .container{
                padding: 0;
                padding-bottom: 5vh;

                .gallery{
                    grid-template-columns: repeat(2, 1fr)!important;
                    column-gap: 20px;
                    row-gap: 20px;
                    justify-items: center;
        
                    img{
                        max-width: 70px;
                    }
                }
            }
        }

        #advantages{
            .container{
                .swiper{
                    .swiper-button-next-2,
                    .swiper-button-prev-2{
                        height: 30px;
                        width: 30px;
                        top: calc( 50% - 15px);

                        &::after{
                            font-size: 1rem;
                        }
                    }

                    .swiper-button-prev-2{
                        left: -50px;
                    }

                    .swiper-button-next-2{
                        right: -50px;
                    }
                }
            }
        }
    }

    .page-template-services{
        #about-lef{
            padding-top: 200px;
            padding-bottom: 50px;

            .container{
                .col_intro{
                    width: 100%;
                    margin: 50px 0;
                }
            }
        }

        #services{
            margin-top: 250px;

            .container{
                .block-img{
                    height: 400px;
                }
            }

            .columns{
                margin-top: 150px;
                flex-direction: column;

                .colg{
                    width: 25%;
                    margin-top: 0;
                    justify-content: flex-start;
                    border-right: none;
                    padding-bottom: 30px;
                    border-bottom: 1px solid $light-gray;
                }

                .cold{
                    width: 100%;

                    .swiper-slide{
                        h3,
                        p{
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        #partenaires{
            .container{
                padding: 0;
                padding-bottom: 5vh;

                .gallery{
                    grid-template-columns: repeat(2, 1fr)!important;
                    column-gap: 20px;
                    row-gap: 20px;
                    justify-items: center;
        
                    img{
                        max-width: 70px;
                    }
                }
            }
        }
    }
}