.page-template-references{
  header{
    .col-d{
      .primary-navigation{
        ul{
          li{
            a{
              color: $primary-color;

              &:hover{
                color: $secondary-color;
              } 
            }

            &.cta{
              a{
                color: $light;
              }
            }
          }
        }
      }
    }
  }

  #introduction-ref {
    padding-top: 300px;
  
    .container {
      .cold {
        padding-left: 20%;
        margin-top: 50px;
      }
    }
  }

  #page-reference{
    padding-top: 300px;
  
    .section-galerie{
      margin-bottom: 200px!important;
    
      .section_titre{
    
        h1{
          font-size: 5rem;
          line-height: 5rem;
          font-weight: 200;
          color: $primary-color;
          text-transform: uppercase;
        }
          
        .section_filter{
          margin:30px auto 100px auto;
          display: flex;
          gap: 50px;
      
          .filter{
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: .8em;
            color:$primary-color;
            font-family: 'Montserrat',sans-serif;
                  
            &::before{
              content:'';
              width: 50px;
              transform: scaleX(0);
              position: absolute;
              transform-origin: left;
              border-bottom: 1px solid $secondary-color;
              height: 30px;
              transition: all ease-in 300ms;
            }
              
            &:hover,
            &:checked{
              color:$secondary-color;
              font-weight: 600;
              
              &::before{
                transform: scaleX(1);
              }
            }
          }
      
          .active{
            color:$secondary-color;
            font-weight: 600;
              
            &::before{
              transform: scaleX(1);
            }
          }
        }
      }
    
      .grid-chantier{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0px;
        margin-bottom: 80px;
        position: relative;
        width: 100vw;
    
        a{
          background-size: cover!important;
          background-position: center center!important;
          text-decoration: none;
          margin-bottom: 0  ;
    
          .thumbnail{
            width: 100%;
            min-height: 350px;
            transition: all ease-in-out 200ms;
            background-size:cover;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            h3,
            p{
              transition: all ease-in-out 300ms;
              color: $light;
              margin: 0;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-size: .7em;
              opacity: 0;
            }
                  
            h3{
              font-weight: 600;  
            }
          }
    
          &:hover{
            .thumbnail{
              backdrop-filter: brightness(50%);
            }
  
            h3,
            p{
              opacity: 1;
            }
          }
        } 
      }
    
      .cta-border{
        text-align: center;
        margin: auto;
      }
    }
  }

  #popup_reference{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    z-index: 11;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

    .close{
      font-family: 'Montserrat',sans-serif;
    }
  
    .container_popup{
      width: 90vw;
        
      .popup-content{
        display: flex;
        background-color: $light;
  
        
        .col-slider{
          width: 100%;
          height: 90vh;
  
          .full-size{
            height: 90vh;
            background-repeat: no-repeat!important;
            background-size: cover!important;
            background-position: center center!important;
          }
        }
    
        .swiper-reference{
          height: 100%;
  
          .swiper-button-next,
          .swiper-button-prev{
            background: $light;
            height: 50px;
            width: 50px;
            aspect-ratio: 1;
            position: absolute;
            bottom: 0;
            top:auto;
            left:auto;
            right: 1px;
                        
            &::after{
              color: $middle-gray;
              font-size: 1em;
            }
          }
  
          .swiper-button-prev{
            right: 51px;
            border-right: 1px solid $light-gray;
          }
  
          .swiper-slide{
            background-repeat: no-repeat!important;
            background-size: cover!important;
            background-position: center center;
          }
        }
  
        .swiper-thumbs{
          .swiper-slide{
            height: 20vh;

            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
}